[submodule "my_modules/hubot-github-repo-event-notifier"]
	path = my_modules/hubot-github-repo-event-notifier
	url = https://github.com/lornajane/hubot-github-repo-event-notifier.git
[submodule "my_modules/hubot-jira"]
	path = my_modules/hubot-jira
	url = https://github.com/lornajane/hubot-jira.git
